.title {
	color: blue;
}
.big-title.title {
	color: yellow;
}
footer .title {
	color: goldenrod;
}
.list {
	color: green;
}
.large-list {
}
[class*="larg"] {
	color: rebeccapurple;
}
.medium-list {
	color: teal;
}
.small-list {
	color: turquoise;
}
.item a {
	color: grey;
}
.text {
	color: rgba(57, 35, 2, 0.6);
}
.text ~ p {
	color: rgb(152, 107, 49);
}
.text + p {
	color: rgb(229, 134, 10);
}
.country * p {
	color: black;
}
h2 ~ p {
	color: rgb(52, 37, 35);
}
.culture {
}
.culture .title {
	color: red;
}
.economy {
}
.economy .title,
.science .title {
	color: red;
}
.politics {
}
.politics .text > p {
	color: aquamarine;
}
#polit h2 {
	color: rgb(248, 209, 209);
}
.science {
}
.image {
}
