body {
	font-family: "Poppins", sans-serif;
	background-color: #b6abab;
}
.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
.header {
	padding: 20px 0;
}
[class*="__container"] {
	max-width: 1420px;
	margin: 0 auto;
	padding: 0 15px;
}
[class*="__container"] > *:not(:last-child) {
	margin-bottom: 20px;
}
.header__container {
}
.header__title {
}
.title {
	font-size: 30px;
	font-weight: 500;
	text-align: center;
	line-height: 1.7;
	color: blue;
	text-transform: capitalize;
	text-shadow: 0px 0px 5px #322a16;
	letter-spacing: 5px;
}
.title--big {
	font-size: 36px;
	font-weight: 600;
}
.page {
	background-color: #fff;
}
.page > *:not(:last-child) {
	margin-bottom: 20px;
}
.page__contact {
}
.contact {
	padding: 119px 52px 63px;
}
.contact__container {
}
.contact__form {
	max-width: 665px;
}
.form-contact {
	display: flex;
	flex-direction: column;
	gap: 36px;
	line-height: 1.5;
}
.form-contact__line {
	display: flex;
	flex-direction: column;
	gap: 22px;
}
.form-contact__label {
	font-weight: 500;
}
.form-contact__input,
.form-contact__textarea {
	border: 1px solid #9f9f9f;
	border-radius: 10px;
	padding: 24px 31px;
	font: inherit;
}
.form-contact__input {
}
.form-contact__input::placeholder,
.form-contact__textarea::placeholder {
	color: #9f9f9f;
	will-change: transform, opacity, visibility;
	transition-property: transform, opacity, visibility;
	transition-duration: 0.6s;
}
.form-contact__input:focus::placeholder,
.form-contact__textarea:focus::placeholder {
	transform: translateX(-100%);
	opacity: 0;
	visibility: hidden;
}
.form-contact__input:focus,
.form-contact__textarea:focus,
.form-contact__button:focus {
	outline: 2px solid red;
	outline-offset: 3px;
}
.form-contact__textarea {
	min-height: 120px;
	resize: vertical;
}
.form-contact__button,
.form-testwork__button {
	color: #fff;
	border: 1px solid #b88e2f;
	border-radius: 5px;
	min-width: 237px;
	padding: 13.75px 20px;
	background: #b88e2f;
	align-self: start;
	will-change: color, background-color;
	transition-property: color, background-color;
	transition-duration: 0.4s;
	cursor: pointer;
}
.form-contact__button:hover,
.form-testwork__button:hover {
	color: #b88e2f;
	background-color: #fff;
}
[class*="--visually-hidden"] {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.page__options {
}
.options {
	padding: 10px 0px;
}
.options__container {
}
.options__form {
}
.form-options {
}
.form-options > *:not(:last-child) {
	margin-bottom: 18px;
}
.form-options__row {
}
.form-options__row > *:not(:last-child) {
	margin-bottom: 12px;
}
.form-options__title-form {
	font-size: 14px;
	color: #9f9f9f;
}
.form-options__body {
	display: flex;
	gap: 16px;
}
.form-options__line {
}
.form-options__label {
	display: flex;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.form-options__row--size .form-options__label {
	font-size: 13px;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	background: #f9f1e7;
}
.form-options__row--color .form-options__label {
	border-radius: 50px;
}
.form-options__label--blue {
	background: #816dfa;
}
.form-options__label--black {
	background: #000;
}
.form-options__label--brown {
	background: #b88e2f;
}
.form-options__input {
	appearance: none;
}
.form-options__row--size .form-options__input:checked + .form-options__label {
	color: #fff;
	background-color: #b88e2f;
}
.form-options__input:focus-visible + .form-options__label,
.form-options__row--color .form-options__input:checked + .form-options__label {
	outline: 2px solid red;
	outline-offset: 3px;
}
.page__testwork {
}
.testwork {
	line-height: 1.5;
	padding: 50px 0;
}
.testwork__container {
}
.testwork__title {
}
.testwork__form {
}
.form-testwork {
	display: flex;
	flex-wrap: wrap;
	row-gap: 40px;
	column-gap: 40px;
}
.form-testwork__line {
	display: flex;
	flex-direction: column;
	gap: 15px;
	flex-basis: 450px;
	flex-shrink: 0;
	flex-grow: 1;
}

.form-testwork__label {
	font-size: 20px;
	font-weight: 500;
	color: #816dfa;
}
.form-testwork__input,
.form-testwork__textarea,
.form-testwork__select {
	border: 1px solid #9f9f9f;
	border-radius: 10px;
	padding: 24px 31px;
	font: inherit;
}
.form-testwork__input--color {
	min-height: 74px;
}
.form-testwork__textarea {
	min-height: 120px;
	resize: vertical;
}
.form-testwork__checkbox,
.form-testwork__options {
	display: flex;
}
.form-testwork__checkbox {
}
.form-testwork__options {
}
.form-testwork__label-checkbox,
.form-testwork__label-options {
	position: relative;
	padding-left: 34px;
	line-height: 1.5;
	cursor: pointer;
}
.form-testwork__label-checkbox::before,
.form-testwork__label-options::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	background-color: #b88e2f;
	border-radius: 5px;
}
.form-testwork__input-checkbox:checked + .form-testwork__label-checkbox:before,
.form-testwork__input-options:checked + .form-testwork__label-options:before {
	content: "✔";
	background-color: #00c421;
}
.form-testwork__input-checkbox {
	appearance: none;
}
.form-testwork__input-checkbox:focus-visible + .form-testwork__label-checkbox,
.form-testwork__input-options:focus-visible + .form-testwork__label-options {
	border-radius: 5px;
}

.form-testwork__label-options {
}
.form-testwork__input-options {
	appearance: none;
}
.form-testwork__select {
}
.form-testwork__line--buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 50px;
	row-gap: 15px;
	/* justify-content: center; */
}
.form-testwork__button {
	flex-basis: 200px;
	flex-grow: 1;
}
.form-testwork__input:focus,
.form-testwork__textarea:focus,
.form-testwork__button:focus,
.form-testwork__select:focus,
.form-testwork__input-checkbox:focus,
.form-testwork__input-options:focus,
.form-testwork__input-checkbox:focus-visible + .form-testwork__label-checkbox,
.form-testwork__input-options:focus-visible + .form-testwork__label-options {
	outline: 2px solid red;
	outline-offset: 3px;
}
.footer {
	padding: 20px 0;
	text-align: center;
	line-height: 1.5;
}
.footer__container > *:not(:last-child) {
	margin-bottom: 15px;
}
.footer__title {
}
.footer__text {
	font-size: 20px;
	color: red;
}
.footer__link {
	max-width: 87px;
}
.footer__image {
}
